<html>
    <head>
        <title>Annotation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script
                src="https://code.jquery.com/jquery-3.6.1.min.js"
                integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
                crossorigin="anonymous"></script>
        <style></style>
    </head>
    <body>
        <input type="text" id="input_sentence" name="input_sentence" size="150"><br><br>
        <p id="annotation"></p>
    </body>
    <script src="static/annotation.js"></script>
</html>
